body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  background-color: #f0f882;
}

.App {
  margin-top: 20px;
  padding: 20px;
}

h1 {
  color: #000000;
}

form {
  margin-top: 20px;
}

input[type="text"] {
  width: 60%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #bb4eb2;
  border-radius: 4px;
}

button[type="submit"] {
  padding: 8px 16px;
  font-size: 16px;
  background-color: #ff77ed;
  color: #000000;
  border: 1px solid #9964fc; 
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button[type="submit"]:hover {
  background-color: #9964fc;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 20px 0; 
  padding: 10px;
  background-color: #f7f7f7;
  border: 1px solid #ccc;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

span {
  flex-grow: 1;
  font-size: 18px;
}

button {
  padding: 4px 8px;
  font-size: 14px;
  background-color: #79fcfc;
  color: #000000;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  border: 1px solid #f07171; 
  min-width: 100px; 
  margin: 5px; 
}

button:hover {
  background-color: #f07171;
}

select {
  font-size: 16px;
  padding: 8px;
}

span.completed {
  text-decoration: line-through;
}